# Примеры настроек

# настройки fastapi
TEST_MODE=True
AUTHJWT_SECRET_KEY=secret

# настройки redis
REDIS_HOST=redis
REDIS_PORT=6379

# настройки postgres
POSTGRES_USER=rexample
POSTGRES_PASSWORD=rexample
DB_HOST=postgres
DB_PORT=5432
DB_NAME=rexample

# настройки tests
BASE_URL=http://fastapi:8000/api/v1
